<form class="form">
    <div class="form__wrap">
        <div class="form__title">Вход</div>
        <fieldset class="form__fields">
            <div class="form__field">
                <label class="form__label" for="login">Логин</label>
                {{{inputLogin}}}
                <div class="error"></div>
            </div>
            <div class="form__field">
                <label class="form__label" for="password">Пароль</label>
                {{{inputPassword}}}
                <div class="error"></div>
            </div>
        </fieldset>
        {{{button}}}
        {{{link}}}
    </div>
</form>
