<!DOCTYPE html>
<html lang="en">
{{>head title="chat"}}
<body>
    <div class="container">
        <div class="chat">
            <div class="chat__wrapper">
                <div class="chat__dialogs">
                    <a class="link-to-profile" href="#">Профиль</a>
                    <div class="search">
                        <input placeholder="Поиск" type="text">
                        <button class="search__btn"> </button>
                    </div>
                    <ul class="dialogs-list">
                        <li class="user-chat">
                            <div class="user">
                                <div class="user__icon"></div>
                                <div class="user__text">
                                    <strong>Alexey</strong>
                                    <span class="user-chat__time">12:00</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum impedit nulla corporis nisi!</p>
                                </div>  
                            </div>
                        </li>
                        <li class="user-chat">
                            <div class="user">
                                <div class="user__icon"></div>
                                <div class="user__text">
                                    <strong>Alexey</strong>
                                    <span class="user-chat__time">12:00</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum impedit nulla corporis nisi!</p>
                                </div>  
                            </div>
                        </li>
                        <li class="user-chat">
                            <div class="user">
                                <div class="user__icon"></div>
                                <div class="user__text">
                                    <strong>Alexey</strong>
                                    <span class="user-chat__time">12:00</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum impedit nulla corporis nisi!</p>
                                </div>  
                            </div>
                        </li>
                        <li class="user-chat">
                            <div class="user">
                                <div class="user__icon"></div>
                                <div class="user__text">
                                    <strong>Alexey</strong>
                                    <span class="user-chat__time">12:00</span>
                                    <p> <b class="from">Вы: </b>Hello!</p>
                                </div>  
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat__inner">
                    <div class="chat__top">
                       <div class="user align-center">
                            <div class="user__icon user-small-icon"></div>
                            <div class="user__text">
                                <strong>Alexey</strong>
                            </div>  
                        </div>
                        <div class="settings">
                            <button class="settings__btn settings__btn--active">
                                <svg width="3" height="16" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="1.5" cy="2" r="1.5" fill="#1E1E1E"/>
                                    <circle cx="1.5" cy="8" r="1.5" fill="#1E1E1E"/>
                                    <circle cx="1.5" cy="14" r="1.5" fill="#1E1E1E"/>
                                </svg>
                            </button>
                            <div class="settings__inner">
                                <div class="settings__el">
                                    <button class="settings__action action-add-user">
                                        Добавить пользователя
                                    </button>                 
                                </div>
                                <div class="settings__el">
                                    <button class="settings__action action-delete-user">
                                        Удалить пользователя
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat__messages">
                        <div class="message-item">
                            <div class="message-item__text">
                                <p>Lorem ipsum, Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas minus mollitia laudantium, maxime exercitationem consequuntur.</p>
                                <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                            </div>
                        </div>
                        <div class="message-item">
                            <div class="message-item__text">
                                <p>Lorem ipsum, Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas minus mollitia laudantium, maxime exercitationem consequuntur.</p>
                                <p>Lorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat__bottom">
                        <div class="send-more">
                            <button class="send-more__btn">img</button>
                            <div class="send-more__list">
                                <div class="send-more__item"></div>
                            </div>
                        </div>
                        <div class="message-field">
                            <input placeholder="Сообщение" type="text">
                        </div>
                        <button class="send" type="button">send
                            <div class="send__icon"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>