.settings {
    position: relative;
    &__btn {
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        &--active {
            background-color: #f5f5f5;
            svg {
                circle {
                    fill: $color-blue;
                }
            }
        }
    }
    &__inner {
        position: absolute;
        right: 0;
        top: calc(100% + 30px);
        min-width: 210px;
        padding: 15px;
        background: #fff;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
        font-weight: 500;
    }
    &__el {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__action {
        display: flex;
        align-items: center;
        border: none;
        background: none;
        cursor: pointer;
        &::before {
            content: "";
            display: inline-block;
            margin-right: 15px;
            width: 22px;
            height: 22px;
            background: url("../img/add-user.svg") no-repeat center;
        }
        &.action-delete-user {
            &::before {
                transform: rotate(45deg);
            }
        }
    }
}
.chat {
    &__wrapper {
        display: flex;
        min-height: 94vh;
    }
    &__dialogs {
        width: 100%;
        max-width: 310px;
        padding-top: 21px;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #eaeaea;
        background: #fbfbfb;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 20px;
        background: #fff;
    }
    &__top {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
    }
    &__messages {
        margin-top: 100px;
        margin-bottom: 30px;
    }
    &__bottom {
        display: flex;
        align-items: center;
        margin-top: auto;
        justify-content: space-between;
        .message-field,
        .message-field input {
            width: 100%;
        }
        .message-field {
            margin-left: 10px;
            margin-right: 10px;
        }
        .message-field input {
            box-sizing: border-box;
            padding: 10px 20px;
            background: #efefef;
            border: none;
            border-radius: 30px;
        }
    }
}
.search {
    position: relative;
    margin-top: 22px;
    input {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 40px;
        text-align: center;
        background: #efefef;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid transparent;
        &:focus,
        &:hover {
            border: 1px solid #eaeaea;
        }
    }
    &__btn {
        display: inline-block;
        position: absolute;
        top: 7px;
        left: 90%;
        z-index: 11;
        width: 20px;
        height: 20px;
        outline: none;
        border: none;
        cursor: pointer;
        background: url("../img/search-icon.png") no-repeat center;
        &:hover {
            opacity: 0.8;
        }
    }
}
.message-item {
    padding: 11px;
    max-width: 380px;
    margin-bottom: 10px;
    background: #f8f8f8;
    border-radius: 0 8px 8px 8px;
    &:last-child {
        margin-bottom: 0;
    }
}
.user {
    display: flex;
    &__icon {
        width: 47px;
        height: 47px;
        margin-right: 10px;
        background-color: #efefef;
        border-radius: 50%;
        flex-shrink: 0;
        &.user-small-icon {
            width: 34px;
            height: 34px;
        }
    }
    &__text {
        max-width: 70%;
        strong {
            font-weight: 600;
            font-size: 13px;
        }
        p {
            margin-bottom: 0;
            margin-top: 4px;
            font-weight: 500;
            color: #999999;
        }
        .from {
            color: $color-dark-grey;
        }
    }
}
.dialogs-list {
    margin-top: 14px;
}
.user-chat {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    padding-top: 12px;
    border-top: 1px solid #eaeaea;

    &__time {
        position: absolute;
        top: 12px;
        right: 0;
        color: #999999;
        font-weight: 500;
        font-size: 9px;
    }
}
