@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap";
@import "_vars.scss";
@import "_normalize.scss";

body {
  font-family: $Inter;
  font-size: $fs-s;
  line-height: 1.2;
  color: $color-dark-grey;
}

.container {
  max-width: 1280px;
  box-sizing: border-box;
  width: auto;
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  li {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.color-grey {
  color: #999;
}

.center-container {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.h-100vh {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-info {
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 20px;
}
