<!DOCTYPE html>
<html lang="ru">
{{>head title="not found"}}
<body>
    <main class="center-container">
        <div class="flex flex-column justify-center h-100vh">
            <h1>404</h1>
            <p class="text-info">Не туда попали</p>
            <a class="link" href="/">Назад к чатам</a>
        </div>
    </main>
</body>
</html>
