<!DOCTYPE html>
<html lang="ru">
{{>head title="500 error"}}
<body>
     <main class="center-container">
        <div class="flex flex-column justify-center h-100vh">
            <h1>500</h1>
            <p class="text-info">Мы уже фиксим</p>
            <a class="link" href="/">Назад к чатам</a>
        </div>
    </main>
</body>
</html>
