<!DOCTYPE html>
<html lang="ru">
{{>head title="main page"}}
<body>
    <main class="container">
        <h1>Ссылки на страницы</h1>
        <nav>
            <ul>
                <li><a href="./profile-page.hbs">Профиль</a></li>
                <li><a href="./chat-page.hbs">Чат</a></li>
                <li><a href="./registration-page.hbs">Регистрация</a></li>
                <li><a href="./login-page.hbs">Логин</a></li>
                <li><a href="./404.hbs">404</a></li>
                <li><a href="./500.hbs">500</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>
