<!DOCTYPE html>
<html lang="ru">
{{>head title="profile"}}
<body>
    <div class="back-area">
        <div onclick="history.back()" class="back-btn"></div>
    </div>
    {{>profile}}
</body>
</html>
