<form class="form" action="">
    <div class="form__wrap">
        <div class="form__title">Вход</div>
        <fieldset class="form__fields">
            <div class="form__field">
                <label class="form__label" for="login">Логин</label>
                <input class="form__input" type="text" id="login" name="login" value="" />
                <div class="error">Неверный логин</div>
            </div>
            <div class="form__field">
                <label class="form__label" for="password">Пароль</label>
                <input class="form__input" type="text" id="password" name="password" value="" />
            </div>
        </fieldset>
        <button class="btn-primary" type="submit">Авторизоваться</button>
        <a class="link no-acc-link" href="./registration-page.hbs">Нет аккаунта?</a>
    </div>
</form>