<div class="profile">
    <div class="profile__wrap">
        <div class="profile__avatar">
            <img src="/src/img/avatar.png" alt="avatar">
        </div>
        <div class="profile__name">Ivan</div>
        <ul class="profile__info">
            <li class="profile__el">
                <span>Почта:</span><span class="color-grey">pochta@yandex.ru</span>
            </li>
            <li class="profile__el">
                <span>Почта:</span><span class="color-grey">pochta@yandex.ru</span>
            </li>
            <li class="profile__el">
                <span>Почта:</span><span class="color-grey">pochta@yandex.ru</span>
            </li>
        </ul>
        <div class="profile__func">
            <a class="link link-change-data" href="#">Изменить данные</a>
            <a class="link link-change-pass" href="#">Изменить пароль</a>
            <a class="exit" href="#">Выйти</a>
        </div>
    </div>
</div>